#templates { display: none; }

.autocomplete { background: white; border: 1px solid black; }

.navbar-brand {
  float: none;
}

.fill {
  min-height: 100%;
  height: 100%;
}

html, body, #app, #main, [data-template-name=main] {
  height: 100%;
}
