#templates { display: none; }

#autocomplete {
  position: absolute;
  background: white;
  border: 1px solid lightgray;
  z-index: 1000;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

#autocomplete .contents [data-template-name=autocomplete-item] {
  border-bottom: 1px solid lightgray;
  padding: 7px;
  cursor: pointer;
}

#autocomplete .contents [data-template-name=autocomplete-item]:hover {
  background: #eee;
}

#autocomplete .copyright {
  text-align: right;
  font-size: small;
  color: gray;
  padding: 3px;
}

.navbar-brand {
  float: none;
}

html, body, #templates, #app, #main, [data-template-name=main], [data-template-name=map] {
  height: 100%;
}

#templates {
  position: absolute;
}

.col-sm-6 {
  padding-top: 30px;
  padding-bottom: 15px;
}

#mapid {
  min-height: 200px;
  height: 100%;
}

.mapheader {
  position: fixed;
  z-index: 100;
  background: white;
  width: 100%;
}

.mapfooter {
  position: fixed;
  z-index: 100;
  bottom: 0;
  background: white;
  width: 100%;
}
